[submodule "3rdParty/ISO639"]
	path = 3rdParty/ISO639
	url = https://github.com/Targoman/ISO639
[submodule "3rdParty/TargomanCommon"]
	path = 3rdParty/TargomanCommon
	url = https://github.com/Targoman/TargomanCommon.git
[submodule "3rdParty/QBuildSystem"]
	path = 3rdParty/QBuildSystem
	url = https://github.com/Targoman/QBuildSystem.git
